<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="logo"><img src="./img/logo.jpeg"/></div>
        <div class="title"><span>Login here or sign-up for free</span></div>
        <form action="/checkUserLogin" method="post">
          <div class="row">
            <input type="email" placeholder="Email" name="email" required>
          </div>
          <div class="row">
            <input type="password" placeholder="Password" name="password" required>
          </div>
          <div class="pass"><a href="/forgetPassword">Forgot password?</a></div>
          <div class="row button" style="display:flex;justify-content:center;align-items: center;">
            <input  onClick="setItem()" type="submit" value="Continue">
          </div>
          <div class="row button" style="align-items: center;text-align: center;">
            <p style="color:white;margin-bottom: 5px;"> Don't have an account yet?</p>
        
            <input  onClick="location.replace('/registration')" style="text-align:center" value="Create an account">
          </div>

        </form>
      </div>
    </div>
    <script src="./js/login.js"></script>
  </body>
</html>
 