<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="logo"><img src="./img/logo.jpeg"/></div>
        <div class="title"><span>Registration Form</span></div>
        <form action="/registerUser" method="post">
          <div class="row">
            <input type="text" placeholder="Enter your first Name" name="fname" required />
          </div>
          <div class="row">
            <input type="text" placeholder="Enter your last name" name="lname" required />
          </div>
          <div class="row">
            <input type="email" placeholder="Enter your email" name="email" required />
          </div>
          <div class="row">
            <input type="password" placeholder="Enter a password" name="password" required />
          </div>
          <div class="row button" style="display:flex;justify-content:center;align-items: center;margin-top:20%">
            <input  onClick="setItem()" type="submit" value="Continue">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
