<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="logo"><img style="position:absolute;left:auto;right:auto;width:400px;height:150px;top:50px" src="./img/logo.jpeg"/></div>
        <div class="title"><span>Update Password</span></div>
        <form action="/updatePassword" method="post">
          <div class="row">
            <input type="email" placeholder="Email" name="email" required>
          </div>
          <div class="row">
            <input type="password" placeholder="Updated Password" name="password" required>
          </div>
          <div class="row button">
            <input type="submit" value="Update">
          </div>
       
        </form>
      </div>
    </div>
  </body>
</html>
 