
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #9B59B6;
}


.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}


#list1 .form-control {
    border-color: transparent;
}

#list1 .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}
  
#list1 .select-input.form-control[readonly]:not([disabled]) {
    background: red;
}


.bottom h1 {
  text-align: center;
  margin-top: 0;
}

.bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bottom li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.bottom li:last-child {
  border-bottom: none;
}

.todo-text {
  flex:1;
}
.todo-date {
  margin-right: 10px;
  color: #999;
  font-size: 12px;
}

.edit-btn {
  background-color: green;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.edit-btn:hover {
  background-color: lightgreen;
  transition: background-color .3s ease-in-out;
}

.delete-btn {
  background-color: red;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.delete-btn:hover {
  background-color: lightcoral;
  transition: background-color .3s ease-in-out;
}